.question-page {
  width: 80vw;
  min-height: 650px;
  height: calc(100vh - 230px);
  /*display: flex;
  justify-content: space-between;*/
  margin: 30px auto;

  .question {
    width: 70vw;
    margin: 0 auto;
    font-size: 40px;
  }

  .blank-list {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: 50px auto;
  }

  .word-list {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: 50px auto;
  }
}